@{
    ViewData["Title"] = "Home Page";
}

@section PRUEBA {
    <h2 style="color:red">ESto es una prueba en Footer</h2>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#pruebah1").text("He cambiado con JQUERY");
        });
    </script>
}

<div class="text-center">
    <h1 id="pruebah1" class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
